# IDE & OS Files
.idea/
.vscode/
*.swp
*.DS_Store
Thumbs.db

# Maven / Java Build Artifacts
backend/target/
backend/*.log
*.class
*.jar
*.war

# Node / Angular Build Artifacts
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/*.log
npm-debug.log*

# Database & Environment
*.db
.env
